body { 
  margin: 0; 
  width: 100vw;
  height: 100vh;
}

input, select, button {
  background: transparent;
  border: none;
}

input {
  width: 100%;
} input:focus {
  outline: none;
} select, button {
  cursor: pointer;
}

/* template specific */

// hide loading template elements .if with attribute "show" or attribute "hide" have values
.if[show], .if[hide] {
  display: none;
}

/* flex (extra) */

.flex, .expand {
  display: flex;
} .grow, .expand > * {
  flex: 1;
} .shrink {
  flex: 0;
} .col {
  display: flex;
  flex-direction: column;
} 

/* position (extra) */

.rel { position: relative; } 
.abs { position: absolute; }

/* center (extra) */

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* noselect (extra) */

.noselect {
  user-select: none;
  cursor: grab;
}

/* shortucts (extra) */

@mixin repeat($class, $count, $unit, $props...) {
  @for $i from 1 through $count {
    @for $p from 1 through length($props) {
      $prop: nth($props, $p);
      .#{$class}-#{$i} {
        #{$prop}: #{$i}#{$unit};
      }
    }
  }
}

// spacing
@include repeat("gap", 10, "rem", "gap");
// padding
@include repeat("pad", 10, "rem", "padding");
@include repeat("rpad", 10, "rem", "padding-right");
@include repeat("lpad", 10, "rem", "padding-left");
@include repeat("hpad", 10, "rem", "padding-left", "padding-right");
@include repeat("vpad", 10, "rem", "padding-top", "padding-bottom");
// margin
@include repeat("mar", 10, "rem", "margin");
@include repeat("rmar", 10, "rem", "margin-right");
@include repeat("lmar", 10, "rem", "margin-left");
@include repeat("vmar", 10, "rem", "margin-top", "margin-bottom");
@include repeat("hmar", 10, "rem", "margin-left", "margin-right");