$primary-font-size: 24px;
$primary-color: #fee;
$shadow-color: #433;

body { margin: 0; }

body, input {
  color: $primary-color;
  background: $shadow-color;
  font-size: $primary-font-size;
}

input {
  border: none;
  border-bottom: 1px solid $primary-color;
  width: 100%;
} input:focus {
  outline: none;
}

select, button {
  background: transparent;
  border: none;
  border-bottom: 1px solid $primary-color;
  color: white;
  cursor: pointer;
}

/* util (extra) */

.flex, .expand {
  display: flex;
} .expand > * {
  flex: 1;
} .col {
  flex-direction: column;
}
