.abs.fill.expand
  // modal
  .if.modal-container.abs.center(show="$modal" equals="show")
    .modal-bg.rel
    .modal.center 
      .flex
        .title.grow Your Spaces
        .close.remove.shrink x
      .spaces.for.col(list="$spaces")
        // go to same url with query param name = item
        .space.flex.gap-1
          .remove(name="$item.table") x
          a(href="$item.url") $item.name
      input.create(type="text" placeholder="New Space")
  // content
  list-entry#task-manager.flex.pad-5
    .expand.grow.gap-1.fill
      .task-list.col
        .entry.flex.gap-1
          input#task-name.grow(type="text" placeholder="")
        h2.app-name $name
        .tasks.grow.rel
          .task-items.for.fill.abs(list="$task-manager.items")
            .item.flex.gap-1.noselect(draggable="true" id="$item.id")
              .name.grow $item.name
              .remove x
      .col
        input.scale(type="range" min="0" max="1" step="0.001" value="0.5")
        list-entry#calendar.container.grow
          .rel
            .for.day.schedule.abs(list="$calendar.items")
              quarter-hour.timeslot.flex.gap-1.hpad-1(id="$item.timestr" hour="$item.hour" quarter="$item.quarter") 
                .if.task.flex.grow.gap-1(show="$item.task") 
                  .remove x
                  .rel.grow
                    .abs.fill.name $item.task.name
                .hour-marker.shrink $item.timestr
    .rel
      .stats.abs Graphs