list-entry#task-manager.pad-5.abs
  entry.flex
    input#task-name.grow(type="text" placeholder="new task")
    input.duration(type="number" placeholder="mins" title="duration" step="15" min="0" max="120" value="30")
  .expand.gap-1
    .task-list 
      h2 Tasks
      .for(list="$task-manager")
        .item.flex.gap-1.noselect(draggable="true" id="$item.id")
          .name.grow $item.name
          .duration $item.duration
          .remove x
    list-entry#calendar 
      .rel
        .for.day.schedule.abs(list="$calendar")
          .timeslot.flex.gap-1
            .if.event.grow.lmar-1(show="$item.task") $item.task.name
            quarter-hour.hour-marker.shrink.rpad-1(id="$item.timestr" hour="$item.hour" quarter="$item.quarter") $item.timestr
  .stats Graphs