list-entry#task-manager.pad-5
  .entry.flex
    input#task-name.grow(type="text" placeholder="new task")
    input.duration(type="number" placeholder="mins" title="duration" step="15" min="0" max="120" value="30")
  .expand.gap-1
    .task-list 
      h2 Tasks
      .for(list="$task-manager")
        .item.flex.gap-1.noselect(draggable="true" id="$item.id")
          .name.grow $item.name
          .duration $item.duration
          .remove x
    .calendar 
      .for.day.schedule(list="$schedule")
        .timeslot.flex
          .if.event.expand.lpad-1(show="$item.task") $item.task.name
          quarter-hour.hour-marker.rpad-1(id="$item.timestr" hour="$item.hour" quarter="$item.quarter") $item.timestr
  .stats Graphs