.abs.fill.expand
  list-entry#task-manager.flex.pad-5
    .expand.grow.gap-1
      .task-list 
        .entry.flex.gap-1
          input#task-name.grow(type="text" placeholder="new task")
          input.duration(type="number" placeholder="mins" title="duration" step="15" min="0" max="120" value="30")
        h2 Tasks
        .for(list="$task-manager.items")
          .item.flex.gap-1.noselect(draggable="true" id="$item.id")
            .name.grow $item.name
            .duration $item.duration
            .remove x
      .col
        input.scale(type="range" min="8" max="48" step="0.001" value="20")
        list-entry#calendar.container.grow
          .rel
            .for.day.schedule.abs(list="$calendar.items")
              quarter-hour.timeslot.flex.gap-1.hpad-1(id="$item.timestr" hour="$item.hour" quarter="$item.quarter") 
                .if.task.flex.grow.gap-1(show="$item.task") 
                  .remove x
                  .rel.grow
                    .abs.fill.name $item.task.name
                .hour-marker.shrink $item.timestr
    .rel
      .stats.abs Graphs