todo-list#want-list
  h2.info WANTS
  div
    div.entry
      input.name(type="text", placeholder="description")
      select.score
        option(value="0") None
        option(value="1") Negligible
        option(value="2") Minimal
        option(value="3") Slight
        option(value="4") Mild
        option(value="5") Want
        option(value="6") Desire
        option(value="7") Crave
        option(value="8") Long
        option(value="9") Yearn
        option(value="10") Urgent
      input.reason(type="text", placeholder="reason why")
      button.add submit
    .for(list="$want-list")
      .item 
        .content $item
        .remove x