doctype html
html(lang='en')

  head
    meta(charset='UTF-8')
    link(rel='icon', href='data:,')
    link(rel="stylesheet" href="styles.css")
    script(type="module", src="script.js")

  // syntax                             description   
  //    $var                               state attribute 
  //    $var[5].attr                       state attribute property
  //    .for(list="$var")  =>  $item       loops content yielding $item
  //    .if(hide="$var" show="$var")  =>  $item   display $item if condition is true

  body
    #app.flex.gap-5.center
      title $title
      //include view/todo
      include view/home
      //include view/wants
