doctype html
html(lang='en')

  head
    meta(charset='UTF-8')
    link(rel='icon', href='data:,')
    link(rel="stylesheet" href="styles.css")
    script(type="module", src="script.js")

  // syntax                             description   
  //    $var                               state attribute name
  //    .for(list="$var")  =>  $item       loops content yielding $item

  body
    #app
      title $title
      #todo
        h2.info TODO
        div
          input(type="text", placeholder="new item", id="add-todo")
          .for(list="$todoList")
            .todo-item 
              .content $item
              .remove-todo x
      #want
        h2.info WANTS
        div
          input(type="text", placeholder="new item", id="add-want")
          .for(list="$wantList")
            .want-item 
              .content $item
              .remove-want x