@use 'prototypes/base';

list-entry .remove {
  color: red;
  cursor: pointer;
  user-select: none;
}

#task-manager {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#want-list {
  .name {
    flex: 2;
  } .reason {
    flex: 3;
  }
}

/* home */
.entry .duration {
  width: 5rem;
}

.calendar {
  background: #557;
}

.stats{
  background: #575;
}