@use 'prototypes/base';

/* components */

todo-list {
  flex: 1;
  .entry {
    display: flex;
    gap: 1rem;
  } .item {
    display: flex;
    .content {
      flex: 1;
    } .remove {
      color: red;
      display: inline-block;
      cursor: pointer;
      user-select: none;
    }
  }
}

/* pages */

#app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0 5rem;
  gap: 5rem;
}

/* wants */

#want-list {
  .name {
    flex: 2;
  } .reason {
    flex: 3;
  }
}

/* home */

.calendar {
  background: #557;
}

.stats{
  background: #575;
}