@use 'prototypes/base';

:root {
  --primary-font-size: 24px;
  --primary-color: #fee;
  --shadow-color: #433;
}

/* components */

todo-list {
  flex: 1;
  .entry {
    display: flex;
    gap: 1rem;
  }.item {
    display: flex;
    .content {
      flex: 1;
    } .remove {
      color: red;
      display: inline-block;
      cursor: pointer;
      user-select: none;
    }
  }
}

/* page */

#app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0 5rem;
  gap: 5rem;
}

#wants {
  .name {
    flex: 2;
  } .reason {
    flex: 3;
  }
}